<div class="bg">
    <div class="galeriq">
        <h1 class="gh1">We are looking for a <br> new home</h1>
        <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px">
            <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                [style.background]="tile.color">

                <ng-container class="ngc" *ngIf="tile.hasImage; else textContainer">
                    <div class="imgz">
                        <img [src]="tile.imageUrl" />
                    </div>
                </ng-container>
                <div class="footer">
                    <mat-grid-tile-footer>
                        <h3>
                            {{tile.text}}
                        </h3>
                        <button mat-flat-button color="warn" (click)="openDialog(tile)">Learn More</button>

                    </mat-grid-tile-footer>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>