<h1>About Paws Shelter</h1>
<h2>We provide a temporary, loving home <br> for dogs that no longer have a family of their own.</h2>
<div class="position">
    <div class="about">
        <p>Paws is a private "no-kill", non-profit organization that has found homes for more than 500 dogs. Our shelter is located ten minutes north of Varna and is easily accessible from the whole region. We are open seven days a week so as soon as a nwe
            dog arrives at our facility, our staff can start searching for a good match. Meanwhile our new pet recieve the best of care: <br> According to their personal needs they, are given medical care, obedience training. grooming, special diets,
            if necessary. Our pets are all inoculated, wormed and sprayed or neutered at the appropriate age.
            <br> Paws Shelter was founded in 2019 by a gorup of dedicated volunteers determined to find homes for dogs in need.
        </p>
    </div>
</div>
<div class="box">
    <div class="box1">
        <h1>Specialists</h1>
        <p>We are specialists, who are well-informed about the broad variety of breed age and behaviour - specifics. That enables us to provide the best of care no matter how tough the task seems.
        </p>
    </div>
    <div class="box2">
        <h1>Mission</h1>
        <p>Over the years our objective will remain the same - to place animals into permanent, caring homes and advance the humane treatment of animas through education.
        </p>
    </div>
</div>
<div class="grid">
    <mat-grid-list cols="2" rowHeight="300px" gutterSize="10px">
        <mat-grid-tile>

            <h1>Acceptance</h1>

            <p>In case we have the space needed, we are willing to take in any furry pal in need of a home. We primarily take care of dogs from the local community with additional support to rescue efforts outside our local area when deemed appropriate.</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <h1>Quality of life</h1>
            <p>Paws is a “no-kill” shelter. We will provide a level of care that is consistent with what is found in a loving home environment. Exceptions may be made for animals irreparably suffering due to injury or illness or animals with extreme behavior
                issues.
            </p>
        </mat-grid-tile>
        <mat-grid-tile>
            <h1>Customer Care</h1>
            <p>Paws is committed to treating each and every client in a respectful and professional manner in order to ensure that they have a positive experience, making every effort to exceed their expectations.</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <h1>Fiscal responsibility</h1>
            <p>Paws is committed to managing our financial resources responsibly and diligently by utilizing sound business practices.</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <h1>Adoption</h1>
            <p>Paws will make a sincere effort to match each animal with a suitable, loving and permanent home.</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <h1>Return</h1>
            <p>Paws will make every reasonable effort to accept adoptable or treatable animals back into our program.</p>
        </mat-grid-tile>
    </mat-grid-list>
</div>